/* Base button styling for all variants */
.button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.4rem;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Primary button with orange background */
.button--primary {
  background-color: var(--primary-orange);
  color: var(--font-on-orange);
}

.button--primary:hover {
  background-color: var(--secondary-orange);
  transform: scale(1.02);
}

/* Secondary button with dark theme */
.button--secondary {
  background-color: var(--secondary-dark);
  color: var(--font-on-dark);
}

.button--secondary:hover {
  background-color: var(--secondary-light);
  transform: scale(1.02);
}

/* Delete button with red styling */
.button--delete {
  background-color: #cc0000;
  color: white;
}

.button--delete:hover {
  background-color: #a00000;
  transform: scale(1.02);
}

/* Smaller green add button */
.button--add-small {
  background-color: #1fa74f;
  color: white;
  font-size: 0.8rem;
  padding: 0.3rem 0.6rem;
}

.button--add-small:hover {
  background-color: #14813c;
  transform: scale(1.02);
}

/* Positioned button for adding to "My List" */
.button--mylist {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  padding: 0.1rem 0.5rem;
  background-color: var(--primary-orange);
  color: var(--primary-sand);
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  z-index: 1;
  font-weight: bolder;
}

.button--mylist:hover {
  background-color: #14813c;
  transform: scale(1);
}

/* Positioned button for removing from "My List" */
.button--mylist-remove {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  padding: 0.1rem 0.5rem;
  background-color: #cc0000;
  color: var(--primary-sand);
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  z-index: 1;
  font-weight: bolder;
}

.button--mylist-remove:hover {
  background-color: #a10000;
  transform: scale(1);
}

/* Smaller red remove button */
.button--remove-small {
  background-color: #cc0000;
  color: white;
  font-size: 0.8rem;
  padding: 0.3rem 0.6rem;
}

.button--remove-small:hover {
  background-color: #a00000;
  transform: scale(1.02);
}
