:root {
  /* Primary Colors */
  --primary-dark: #040b22;
  --primary-orange: #ff8000;
  --primary-sand: #ffdcbd;

  /* Secondary Variants */
  --secondary-dark: #1a2c4a;
  --secondary-orange: #ffb366;

  /* Gradiant */
  --gradiant-dark: #01010a;
  --gradiant-light: #01010a;

  /* Font Colors */
  --font-on-dark: var(--primary-sand);
  --font-on-sand: var(--primary-dark);
  --font-on-orange: var(--primary-dark);
}
