body {
  background: linear-gradient(
    to right,
    var(--gradiant-dark),
    var(--gradiant-light)
  );
  color: var(--primary-sand);
}

.my-page__info {
  margin-left: 2rem;
}
.my-page__title {
  margin: 2rem;
}

.home-page__title {
  margin: 2rem;
}

.admin-page__title {
  margin: 2rem;
}

/* .auth-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10rem;
} */
