body {
  background: linear-gradient(
    to right,
    var(--gradiant-dark),
    var(--gradiant-light)
  );
  color: var(--primary-sand);
}

.my-page__info {
  margin-left: 2rem;
}
.my-page__title {
  margin: 2rem;
}

.home-page__title {
  margin: 2rem;
}

.admin-page__title {
  margin: 2rem;
}

/* === Responsive Tweaks === */
@media (max-width: 768px) {
  .my-page__info,
  .my-page__title,
  .admin-page__title,
  .home-page__title {
    margin: 1rem;
    padding: 0 1rem;
  }
}
